@using RongKang_Entity;
@using RongKang_ViewModel;
@using Web_Common;
@using RongRental.Areas.Admin_Rental.Filters;


@{
    //这两行是页面添加显示修改数据必须需要的。
    var List = ViewBag.List;
    Dictionary<string, FieldNameAttribute> Dic = CustomAttributeHelper.GetpropertyView<ReimbursementRecord>();//修改model
}
<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>上海丽珠制药</title>
    <meta name="description" content="主界面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/Areas/Admin_Rental/assets/i/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin_Rental/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link href="~/Areas/Admin_Rental/assets/css/amazeui.page.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin_Rental/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin_Rental/assets/css/admin.css">
    <script src="~/Areas/Admin_Rental/assets/js/MoneyFormat.js"></script>
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
      以获得更好的体验！</p>
    <![endif]-->
    @Html.Partial("Head")

    <div class="am-cf admin-main">
        <!-- sidebar start -->
        @Html.Partial("LeftMenu")
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">@Permission.ModuleName(ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString())</strong></div>
                </div>
                <hr>
                <!-- List search start -->
                <div class="am-g">
                    <div class="am-u-lg-1">
                        <div class="am-input-group am-input-group-secondary am-form-group">
                            @if (Permission.RightCheck(ViewContext.RouteData.Values["controller"].ToString(), "Add"))
                            {
                                <button type="button" id="Add" class="am-btn am-btn-primary"><span class="am-icon-plus"></span>新增</button>

                            }
                            else
                            {
                                <button type="button" class="hide"></button>
                            }
                        </div>
                    </div>
                    @{
                        foreach (var dic in Dic)
                        {
                            if (dic.Value.View_Flag != 0)
                            {
                                <div class="am-u-lg-2">

                                    @{
                                        if (dic.Value.Control_Type.ToString() == Control_Type.SelectText.ToString() && dic.Key != "ProvincialRegion_Leader")
                                        {
                                            <div class="am-input-group am-input-group-secondary am-form-group">
                                                <span class="am-input-group-label">@dic.Value.View_Name</span>
                                                <select class="am-form-field" name="@dic.Key" id="@dic.Key" @(dic.Key.ToString() == "ProvincialRegion_ID" ? "onchange=ProvincialRegion(this)" : "") data-value="@Request.QueryString[dic.Key]">
                                                    <option value="">--请选择--</option>
                                                </select>
                                            </div>
                                        }
                                        else if (dic.Value.Control_Type.ToString() == Control_Type.Text.ToString())
                                        { <div class="am-input-group am-input-group-secondary am-form-group">
                                                <span class="am-input-group-label">@dic.Value.View_Name</span>
                                                <input type="text" class="am-form-field" name="@dic.Key" id="@dic.Key" placeholder="@dic.Value.View_PlaceHolder">
                                            </div>
                                        }
                                    }
                                </div>

                            }

                        }
                    }

                    <div class="am-u-lg-2">
                        <div class="am-input-group ">
                            <button class="am-btn am-btn-primary" id="search" type="button">搜索</button>
                            <button class="am-btn am-btn-primary" id="excel" type="button">导出</button>
                        </div>
                    </div>
                </div>
                <!-- List search end -->
                <!-- List start -->
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                    <tr>
                                        @*<th class="table-check"><input style="display:none" class="allcheck" type="checkbox" /></th>*@
                                        @{
                                            foreach (var dic in Dic)
                                            {
                                                if (dic.Value.View_Flag != 2)
                                                {
                                                    <th class="table-title @(dic.Value.View_Flag == 3 ? "am-hide-sm-only" : "")">@dic.Value.View_Name</th>
                                                }

                                            }
                                        }
                                        <th class="table-set am-hide-sm-only">操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        if (List != null)
                                        {
                                            foreach (var item in List)
                                            {
                                                int i = 0;
                                                <tr>
                                                    <td style="display:none"><input data-rowindex="@item.ID" class="checkbox" type="checkbox" /></td>

                                                    @foreach (var dic in Dic)
                                                    {
                                                        if (dic.Value.View_Flag != 2)
                                                        {
                                                            if (i == 0)
                                                            {
                                                                <td><a href="Edit?ID=@item.ID">@CustomAttributeHelper.GetpropertyValue(item, dic.Key)</a></td>
                                                            }
                                                            else
                                                            {
                                                                if (dic.Value.Control_Type.ToString() == Control_Type.TimeText.ToString())
                                                                {
                                                                    <td class="@(dic.Value.View_Flag == 3 ? "am-hide-sm-only" : "")">@Web_Common.PageValidate.DateFormatReturnString(CustomAttributeHelper.GetpropertyValue(item, dic.Key), 3)</td>
                                                                }
                                                                else if (dic.Value.Control_Type.ToString() == Control_Type.NumberText.ToString())
                                                                {
                                                                    <td title="@MoneyConvertChinese.MoneyToChinese(CustomAttributeHelper.GetpropertyValue(item, dic.Key).Replace(",", ""))" class="@(dic.Value.View_Flag == 3 ? "am-hide-sm-only" : "")">@CustomAttributeHelper.GetpropertyValue(item, dic.Key)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="@(dic.Value.View_Flag == 3 ? "am-hide-sm-only" : "")">@CustomAttributeHelper.GetpropertyValue(item, dic.Key)</td>
                                                                }
                                                            }
                                                            i++;
                                                        }
                                                    }


                                                    <td>
                                                        <div class="am-btn-toolbar">
                                                            <div class="am-btn-group am-btn-group-xs">
                                                                <span class="edit am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-pencil-square-o"></span>修改</span>
                                                            </div>
                                                            @*<div class="am-btn-group am-btn-group-xs">
                                                                    <span class="edit am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-pencil-square-o"></span> 调整预算</span>
                                                                </div>
                                                                <div class="am-btn-group am-btn-group-xs">
                                                                    <span class="edit am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-pencil-square-o"></span> 调整管理费</span>
                                                                </div>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }

                                </tbody>
                            </table>
                            <div id="page"></div>
                            <hr />
                            <p>注：.....</p>
                        </form>
                    </div>
                </div>
                <!-- List end -->
            </div>
            @*@Html.Partial("Footer")*@
        </div>

        <div style="display:none" class="hid-token-page">
            @*@Html.AntiForgeryToken()  //为了安全必须添加*@
        </div>
        <!-- content end -->

    </div>

    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

    @Html.Partial("Footer")


</body>
</html>
<script src="~/Areas/Admin_Rental/assets/js/List.js"></script>

<script type="text/javascript">
    $(function () {

        $("select").each(function () {
            var _this = $(this);
            var id = _this.attr("id");
            var data_value = _this.attr("data-value");
            var url = id.split("_");
            $.ajax({
                type: "post",
                url: "/Admin_Rental/" + url[0] + "/" + url[1],  //对应于/controllerName/ActionName
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data && data.length) {
                        $(data).each(function (i, item) {
                            if (data_value == item.ID)
                                _this.append('<option  value="' + item.ID + '" selected >' + item.Name + '</option>');
                            else {
                                _this.append('<option  value="' + item.ID + '" >' + item.Name + '</option>');
                            }
                        })
                    }
                }
            });
        });

        ProvincialRegion("#ProvincialRegion_ID")

        var selecte_parameter = "", searchtext = "", parameter = "", page = "", page_parameter = "";
        parameter_(0);
        var page = window.location.search.match(/page=(\d+)/);
        $("#page").page({
            pages: '@ViewBag.totalPage',
            curr: page ? page[1] : 1,
            jump: location.href.split('?')[0] + parameter
            /*使用回调函数可以处理更复杂的逻辑
            jump:function(context, first){
                if(!first){
                    window.location.href = '?page='+context.option.curr;
                }
            }
            */
        });

        $("#search").click(function () {
            parameter_(1);
            location.href = location.href.split('?')[0] + parameter;
        });

        $("#excel").click(function () {
            parameter_(1);
            location.href = location.href.split('?')[0].replace('List', 'Excel'); + parameter;
        });

        function parameter_(flag) {
            if (flag == 0) {
                if (location.href.indexOf("?") > -1)
                    searchtext = searchtext + location.href.split('?')[1].split('page')[0];
                page_parameter = "page=%page%";
            } else {
                searchtext = "";
                $("select").each(function () {
                    var _this = $(this);
                    var id1 = _this.attr("id");
                    var data_value1 = $(this).val();
                    if ($(this).val() != null || $(this).val() != undefined || $(this).val() != '') {
                        searchtext = searchtext + _this.attr("id") + "=" + $(this).val() + "&";
                    }
                });
                $("input[type='text']").each(function () {
                    var _this = $(this);
                    var id1 = _this.attr("id");
                    var data_value1 = $(this).val();
                    if ($(this).val() != null || $(this).val() != undefined || $(this).val() != '') {
                        searchtext = searchtext + _this.attr("id") + "=" + $(this).val() + "&";
                    }
                });

                page_parameter = "page=1"
            }
            parameter = "?" + searchtext + page_parameter;
        }

    });


    function ProvincialRegion($this) {
        var _this = $($this);
        /* $("#div_" + $amountInput.attr("id")).text(numberParseChina(num));*/
        var data_value = _this.val();
        var url = "BranchOffice_ID".split("_");
        $.ajax({
            type: "post",
            url: "/Admin_Rental/" + url[0] + "/" + url[1],  //对应于/controllerName/ActionName
            async: false,
            dataType: 'json',
            data: { "ProvincialRegion_ID": data_value },
            success: function (data) {
                console.log(data);
                if (data && data.length) {
                    $("#BranchOffice_ID").empty();
                    $("#BranchOffice_ID").append('<option  value="" >--请选择--</option>');
                    $(data).each(function (i, item) {

                        if (data_value == item.ID)
                            $("#BranchOffice_ID").append('<option  value="' + item.ID + '" selected >' + item.Name + '</option>');
                        else {
                            $("#BranchOffice_ID").append('<option  value="' + item.ID + '" >' + item.Name + '</option>');
                        }
                    })
                }
            }
        });
        //if (data_value == "") {
        //    $("#BranchOffice_ID").empty();
        //    $("#BranchOffice_ID").attr("data-value", "");
        //    $("#BranchOffice_ID").append('<option  value="" >--请选择--</option>');
        //}
    }
</script>  